/* =====================
   RESET
===================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =====================
   VARIABLES
===================== */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

/* =====================
   BASE
===================== */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

/* =====================
   MEDIA DEFAULT
===================== */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* =====================
   FORM RESET
===================== */
input,
button,
textarea,
select {
  font: inherit;
}

/* =====================
   LINKS & BUTTONS
===================== */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ==========================================
   DESARROLLO DE LA PÁGINA WEB
========================================== */



