/* =====================
   RESET
===================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =====================
   VARIABLES
===================== */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

/* =====================
   BASE
===================== */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

/* =====================
   MEDIA DEFAULT
===================== */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* =====================
   FORM RESET
===================== */
input,
button,
textarea,
select {
  font: inherit;
}

/* =====================
   LINKS & BUTTONS
===================== */
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ====================================================================================
   DESARROLLO DE LA PÁGINA WEB
 ==================================================================================== */


*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
background-color: #e52321;
overflow:hidden;
font-family:sans-serif;
}

/* CONTENEDOR */

.slider{
width:100vw;
height:100vh;
overflow:hidden;
position:relative;
}

/* TRACK */

.slides{
display:flex;
width:100%;
height:100%;
transition:transform 0.4s ease-in-out;
}

/* SLIDE */

.slide{
min-width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
background:#fff;
background-color: #e52321;
}

/* IMAGEN */
/*Opcion 2*/
.slide img{
width:100%;
height:100%;
object-fit:cover;
}

/*Opcion 1*/
.slide img{
width:100%;
height:100%;
object-fit:contain; 
}


/* Boton----------------------------------------------------------------------------------------------------------------------- */
/* =====================
   BOTON VOLVER
===================== */

.btn-back{
position:absolute;
top:20px;
top: 0;
left:20px;
left: 0;

width:80px;
height:80px;

background:#16c35b;

display:flex;
align-items:center;
justify-content:center;

border-radius:0 40px 40px 0;

z-index:999;
transition:transform .2s ease;
}

.btn-back:hover{
transform:scale(1.05);
}

.btn-back .icon{
width:40px;
height:40px;

stroke:white;
stroke-width:3;
fill:none;
stroke-linecap:round;
stroke-linejoin:round;
}